<!DOCTYPE html>
<head>
  <meta charset="UTF-8">  
  <title>Burger Time!</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/burger_style.css">  
</head>  

<body>
  <div class="jumbotron">
    <div class="row">
      <h1>Eat Da Burger!</h1>
      <img id="burger_img" src="assets/img/burger.jpg" />
    </div>
  </div>

  <div class="container">
    <div class="row">

    <div id="burger-area" class="col-md-6">  

    <!--Panel in where burgers are not yet eaten-->
    <h2>Burgers that are not devoured!</h2>
    <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button style="color:blue;font-weight:bold" type="submit">EAT IT!</button>
            </form>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    </div>
    <div id="burger-eaten-area" class="col-md-6">

    <!--Panel in where burgers are already eaten-->
    <h2>Burgers that are already eaten!</h2>
    <ul>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
            {{this.burger_name}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
    </div>
    </div>
  </div>

  <div class="footer">
    <h2>Add a Burger</h2>
    <form class="create-update-form" method="POST">

      <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" placeholder="Burger Name" name="burger_name">
      </div>

      <button id="burger-submit" type="submit">Add Burger</button>
    </form>
  </div>

</body>